# Nominal / OHE (One Hot Encoding)

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# create a sample dataframe with some categorical variables
df = pd.DataFrame({
    'color' : ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
# Create an instance of the One Hot Encoder
encoder = OneHotEncoder()

In [5]:
encoder.fit_transform(df[['color']])

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [6]:
encoder.fit_transform(df[['color']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [7]:
encoded = encoder.fit_transform(df[['color']])

In [8]:
pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out())

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [9]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [10]:
encode_df = pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out(), dtype='int64')

In [11]:
encode_df

   color_blue  color_green  color_red
0           0            0          1
1           1            0          0
2           0            1          0
3           0            1          0
4           0            0          1
5           1            0          0

In [12]:
pd.concat([df, encode_df], axis=1)

   color  color_blue  color_green  color_red
0    red           0            0          1
1   blue           1            0          0
2  green           0            1          0
3  green           0            1          0
4    red           0            0          1
5   blue           1            0          0