# Data Basics

## Reading CSV Files

In [1]:
using Pkg
Pkg.add("DataFrames")

   Resolving package versions...
  No Changes to `C:\Users\pc\.julia\environments\v1.10\Project.toml`
  No Changes to `C:\Users\pc\.julia\environments\v1.10\Manifest.toml`

In [2]:
using DataFrames

In [3]:
using Pkg
Pkg.add("CSV")

   Resolving package versions...
  No Changes to `C:\Users\pc\.julia\environments\v1.10\Project.toml`
  No Changes to `C:\Users\pc\.julia\environments\v1.10\Manifest.toml`

In [4]:
using CSV

In [5]:
df = DataFrame(CSV.File("../dataset/Titanic.csv"))

891×12 DataFrame
 Row │ PassengerId  Survived  Pclass  Name                               Sex   ⋯
     │ Int64        Int64     Int64   String                             Strin ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           1         0       3  Braund, Mr. Owen Harris            male  ⋯
   2 │           2         1       1  Cumings, Mrs. John Bradley (Flor…  femal
   3 │           3         1       3  Heikkinen, Miss. Laina             femal
   4 │           4         1       1  Futrelle, Mrs. Jacques Heath (Li…  femal
   5 │           5         0       3  Allen, Mr. William Henry           male  ⋯
   6 │           6         0       3  Moran, Mr. James                   male
   7 │           7         0       1  McCarthy, Mr. Timothy J            male
   8 │           8         0       3  Palsson, Master. Gosta Leonard     male
   9 │           9         1       3  Johnson, Mrs. Oscar W (Elisabeth…  femal ⋯
  10 │          10         1       2  Nasser, Mrs. Nicholas (Adele Ach…  femal
  11 │          11         1       3  Sandstrom, Miss. Marguerite Rut    femal
  ⋮  │      ⋮          ⋮        ⋮                     ⋮                     ⋮  ⋱
 882 │         882         0       3  Markun, Mr. Johann                 male
 883 │         883         0       3  Dahlberg, Miss. Gerda Ulrika       femal ⋯
 884 │         884         0       2  Banfield, Mr. Frederick James      male
 885 │         885         0       3  Sutehall, Mr. Henry Jr             male
 886 │         886         0       3  Rice, Mrs. William (Margaret Nor…  femal
 887 │         887         0       2  Montvila, Rev. Juozas              male  ⋯
 888 │         888         1       1  Graham, Miss. Margaret Edith       femal
 889 │         889         0       3  Johnston, Miss. Catherine Helen …  femal
 890 │         890         1       1  Behr, Mr. Karl Howell              male
 891 │         891         0       3  Dooley, Mr. Patrick                male  ⋯
                                                  8 columns and 870 rows omitted

In [6]:
df

891×12 DataFrame
 Row │ PassengerId  Survived  Pclass  Name                               Sex   ⋯
     │ Int64        Int64     Int64   String                             Strin ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           1         0       3  Braund, Mr. Owen Harris            male  ⋯
   2 │           2         1       1  Cumings, Mrs. John Bradley (Flor…  femal
   3 │           3         1       3  Heikkinen, Miss. Laina             femal
   4 │           4         1       1  Futrelle, Mrs. Jacques Heath (Li…  femal
   5 │           5         0       3  Allen, Mr. William Henry           male  ⋯
   6 │           6         0       3  Moran, Mr. James                   male
   7 │           7         0       1  McCarthy, Mr. Timothy J            male
   8 │           8         0       3  Palsson, Master. Gosta Leonard     male
   9 │           9         1       3  Johnson, Mrs. Oscar W (Elisabeth…  femal ⋯
  10 │          10         1       2  Nasser, Mrs. Nicholas (Adele Ach…  femal
  11 │          11         1       3  Sandstrom, Miss. Marguerite Rut    femal
  ⋮  │      ⋮          ⋮        ⋮                     ⋮                     ⋮  ⋱
 882 │         882         0       3  Markun, Mr. Johann                 male
 883 │         883         0       3  Dahlberg, Miss. Gerda Ulrika       femal ⋯
 884 │         884         0       2  Banfield, Mr. Frederick James      male
 885 │         885         0       3  Sutehall, Mr. Henry Jr             male
 886 │         886         0       3  Rice, Mrs. William (Margaret Nor…  femal
 887 │         887         0       2  Montvila, Rev. Juozas              male  ⋯
 888 │         888         1       1  Graham, Miss. Margaret Edith       femal
 889 │         889         0       3  Johnston, Miss. Catherine Helen …  femal
 890 │         890         1       1  Behr, Mr. Karl Howell              male
 891 │         891         0       3  Dooley, Mr. Patrick                male  ⋯
                                                  8 columns and 870 rows omitted

In [7]:
show(df, allcols=true)

891×12 DataFrame
 Row │ PassengerId  Survived  Pclass  Name                               Sex      Age        SibSp  Parch  Ticket            Fare     Cabin      Embarked
     │ Int64        Int64     Int64   String                             String7  Float64?   Int64  Int64  String31          Float64  String15?  String1?
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │           1         0       3  Braund, Mr. Owen Harris            male          22.0      1      0  A/5 21171          7.25    missing    S
   2 │           2         1       1  Cumings, Mrs. John Bradley (Flor…  female        38.0      1      0  PC 17599          71.2833  C85        C
   3 │           3         1       3  Heikkinen, Miss. Laina             female        26.0      0      0  STON/O2. 3101282   7.925   missing    S
   4 │           4         1       1  Futrelle, Mrs. Jacques Heath (Li…  female        35.0      1      0  113803            53.1     C123       S
   5 │           5         0       3  Allen, Mr. William Henry           male          35.0      0      0  373450             8.05    missing    S
   6 │           6         0       3  Moran, Mr. James                   male     missing        0      0  330877             8.4583  missing    Q
   7 │           7         0       1  McCarthy, Mr. Timothy J            male          54.0      0      0  17463             51.8625  E46        S
   8 │           8         0       3  Palsson, Master. Gosta Leonard     male           2.0      3      1  349909            21.075   missing    S
   9 │           9         1       3  Johnson, Mrs. Oscar W (Elisabeth…  female        27.0      0      2  347742            11.1333  missing    S
  10 │          10         1       2  Nasser, Mrs. Nicholas (Adele Ach…  female        14.0      1      0  237736            30.0708  missing    C
  11 │          11         1       3  Sandstrom, Miss. Marguerite Rut    female         4.0      1      1  PP 9549           16.7     G6         S
  ⋮  │      ⋮          ⋮        ⋮                     ⋮                     ⋮         ⋮        ⋮      ⋮           ⋮             ⋮         ⋮         ⋮
 882 │         882         0       3  Markun, Mr. Johann                 male          33.0      0      0  349257             7.8958  missing    S
 883 │         883         0       3  Dahlberg, Miss. Gerda Ulrika       female        22.0      0      0  7552              10.5167  missing    S
 884 │         884         0       2  Banfield, Mr. Frederick James      male          28.0      0      0  C.A./SOTON 34068  10.5     missing    S
 885 │         885         0       3  Sutehall, Mr. Henry Jr             male          25.0      0      0  SOTON/OQ 392076    7.05    missing    S
 886 │         886         0       3  Rice, Mrs. William (Margaret Nor…  female        39.0      0      5  382652            29.125   missing    Q
 887 │         887         0       2  Montvila, Rev. Juozas              male          27.0      0      0  211536            13.0     missing    S
 888 │         888         1       1  Graham, Miss. Margaret Edith       female        19.0      0      0  112053            30.0     B42        S
 889 │         889         0       3  Johnston, Miss. Catherine Helen …  female   missing        1      2  W./C. 6607        23.45    missing    S
 890 │         890         1       1  Behr, Mr. Karl Howell              male          26.0      0      0  111369            30.0     C148       C
 891 │         891         0       3  Dooley, Mr. Patrick                male          32.0      0      0  370376             7.75    missing    Q
                                                                                                                                          870 rows omitted

In [8]:
df."Pclass"

891-element Vector{Int64}:
 3
 1
 3
 1
 3
 3
 1
 3
 3
 2
 3
 1
 3
 ⋮
 1
 2
 3
 3
 2
 3
 3
 2
 1
 3
 1
 3

In [9]:
df[1:4, :Pclass]

4-element Vector{Int64}:
 3
 1
 3
 1

In [10]:
select(df, r"Pclass")           # you can make in-place selection using the bang variant of select

891×1 DataFrame
 Row │ Pclass
     │ Int64
─────┼────────
   1 │      3
   2 │      1
   3 │      3
   4 │      1
   5 │      3
   6 │      3
   7 │      1
   8 │      3
   9 │      3
  10 │      2
  11 │      3
  ⋮  │   ⋮
 882 │      3
 883 │      3
 884 │      2
 885 │      3
 886 │      3
 887 │      2
 888 │      1
 889 │      3
 890 │      1
 891 │      3
870 rows omitted

## Descriptive Study

In [11]:
describe(df)

12×7 DataFrame
 Row │ variable     mean      min                  median   max                ⋯
     │ Symbol       Union…    Any                  Union…   Any                ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ PassengerId  446.0     1                    446.0    891                ⋯
   2 │ Survived     0.383838  0                    0.0      1
   3 │ Pclass       2.30864   1                    3.0      3
   4 │ Name                   Abbing, Mr. Anthony           van Melkebeke, Mr.
   5 │ Sex                    female                        male               ⋯
   6 │ Age          29.6991   0.42                 28.0     80.0
   7 │ SibSp        0.523008  0                    0.0      8
   8 │ Parch        0.381594  0                    0.0      6
   9 │ Ticket                 110152                        WE/P 5735          ⋯
  10 │ Fare         32.2042   0.0                  14.4542  512.329
  11 │ Cabin                  A10                           T
  12 │ Embarked               C                             S
                                                               3 columns omitted

In [12]:
describe(df, :mean, :std)

12×3 DataFrame
 Row │ variable     mean      std
     │ Symbol       Union…    Union…
─────┼─────────────────────────────────
   1 │ PassengerId  446.0     257.354
   2 │ Survived     0.383838  0.486592
   3 │ Pclass       2.30864   0.836071
   4 │ Name
   5 │ Sex
   6 │ Age          29.6991   14.5265
   7 │ SibSp        0.523008  1.10274
   8 │ Parch        0.381594  0.806057
   9 │ Ticket
  10 │ Fare         32.2042   49.6934
  11 │ Cabin
  12 │ Embarked

In [13]:
nrow(df), ncol(df)

(891, 12)

In [14]:
size(df)

(891, 12)

In [15]:
extrema([ [13, 2, 5, 7] [2, 4, 5, 6]])

(2, 13)

In [16]:
select(df, r"x")

891×1 DataFrame
 Row │ Sex
     │ String7
─────┼─────────
   1 │ male
   2 │ female
   3 │ female
   4 │ female
   5 │ male
   6 │ male
   7 │ male
   8 │ male
   9 │ female
  10 │ female
  11 │ female
  ⋮  │    ⋮
 882 │ male
 883 │ female
 884 │ male
 885 │ male
 886 │ female
 887 │ male
 888 │ female
 889 │ female
 890 │ male
 891 │ male
870 rows omitted

In [17]:
Matrix(select(df, r"x"))

891×1 Matrix{String7}:
 "male"
 "female"
 "female"
 "female"
 "male"
 "male"
 "male"
 "male"
 "female"
 "female"
 "female"
 "female"
 "male"
 ⋮
 "female"
 "female"
 "male"
 "female"
 "male"
 "male"
 "female"
 "male"
 "female"
 "female"
 "male"
 "male"

In [18]:
extrema(Matrix(select(df, r"x")))

(String7("female"), String7("male"))