# Pandas Basics Assignment Solution

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
# importing pandas library
import pandas as pd

# Given data
data = [4, 8, 15, 16, 23, 42]

# Create a Pandas Series that contains the list of data
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
# Create a list type variable with 10 elements
list_type_variable = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Applying the pandas Series function on the variable
series = pd.Series(list_type_variable)

# Print the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

![DataFrame Part of this question no. 3](./outputs/Q3_pandas_df_data.png)

In [22]:
# Creating a DataFrame with the given data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Converting the dictionary data into DataFrame 
df = pd.DataFrame(data)

# Printing the DataFrame
df.reset_index(drop=True, col_level=1, col_fill='')

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female